*.DS_Store

/*

!/MEIOUandTaxes*/
!/MEIOUandTaxes*.mod

!/AinsiJeFrappe_MEIOUandTaxes_DLC/
!/Flags_New_TGA/
!/flatmap/
!/M&T_Map_Texture/
!/NBRT+HR30/
!/old_localisations_archive/
!/temporarily_removed_files/
!/To do lists/

!/AinsiJeFrappe_MEIOUandTaxes_DLC.mod
!/create_hotfix
!/EU4-script-syntax.xml
!/M&T_Map_Texture.mod
!/NBRT+HR30.mod
!/Thumbs.db
MEIOUandTaxes1/Dei Gratia rework.txt
MEIOUandTaxes1/run.txt
MEIOUandTaxes1/meiou.txt 

MEIOUandTaxes1/build
__pycache__
